.side-drawer {
  height: 100%;
  background: #fff;
  box-shadow: 2px 0px 3px rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}
.side-drawer ul {
  display: flex;
  flex-direction: column;
}
.side-drawer a {
  color: #521751;
  text-emphasis: none;
  font-size: 1.2rem;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
