main {
  padding: 24px;
}

main {
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
.card {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 24px;
  font-family: "Kavivanar", cursive;
  background: #fff;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card img {
  border-radius: 10px;
  width: 100%;
}

.card-content {
  min-width: 100%;
}

.card-content a {
  display: inline-block;
  margin-top: 12px;
}

.main {
  margin-top: 54px;
}
