@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
  min-height: calc(100vh - 65px);
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  margin-bottom: 0;
}
