* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',
    sans-serif;
  height: 100vh;
}

ul,
li {
  list-style-type: none;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.nav li {
  padding: 10px 20px;
}

.nav li a {
  text-decoration: none;
  color: #000;
}

.container {
  padding: 0 5%;
  max-width: 110px;
}

.btn {
  font-weight: 500;
}

.btn.btn-sm {
  padding: 3px 5px;
}

.btn-primary {
  color: #fff;
  border: 1px solid #7e7ca2;
  background: #6c63ff;
  border-radius: 4px;
}