@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kavivanar", cursive;
}

body {
  background-color: #fafafa;
  min-height: calc(100vh - 65px);
}

h1,
h2 {
  margin-bottom: 0;
}
